<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>ปลาเทวดา</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">
    <!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<style>
    html {
        background-image: url(https://wallpaperaccess.com/full/4687504.jpg);
    }

    .Fish {
        text-align: center;
        font-size: 60px;
        margin-bottom: 30px;
    }

    .Search {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .container-typefish {
        background-color: rgba(0, 0, 0, 0.616);
        margin: 0px;
        padding: 10px;
        
    }

    .about {
        display: inline-flex;
        text-align: center;
        list-style: none;
        background-color: rgba(102, 90, 90, 0.5);
        color: #fff;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 15%;
    }

    .footer {
        grid-template-columns: 80% auto;
        text-align: right;
        text-decoration: none;
    }

    .Last div {
        width: 100%;
        text-align: center;

    }

    .btop {
        margin-left: 25px;
    }
    @media (max-width: 500px) {
    p{
        font-size: 16px;
    }
    li{
        font-size: 16px; 
    }
    }

    img{
        width: 30%;
        float: left;
        margin-right: 10px;
        border-radius: 20%;
    }
    p{
        margin-left: 10px;
        color: rgba(240, 248, 255, 0.842);
    }
    li{
        color: rgba(240, 248, 255, 0.842);
    }

</style>
<script>
    function checkInput() {
        var query = document.getElementById('search').value;
        window.find(query);
        return true;
    }

    function checkInput() {
        var query = document.getElementById('search').value;
        window.find(query);
        return true;
    }
// create a function to update the date and time
function updateDateTime() {
        // create a new `Date` object
        const now = new Date();

        // get the current date and time as a string
        const currentDateTime = now.toLocaleString();

        // update the `textContent` property of the `span` element with the `id` of `datetime`
        document.querySelector('#datetime').textContent = currentDateTime;
      }

      // call the `updateDateTime` function every second
      setInterval(updateDateTime, 1000);
</script>

<body>
    <button type="button" onclick=""><a href="/fish">Menu</a></button>
    <span style="font-size: 20px;" id="datetime"></span>
    <div class="Fish">FishInfo</div>

    <div style="margin-left: 14%; margin-bottom: 10px; " class="search_box">
        <form action="" id="form2">
            <div>
                <input style="width: 70%;" type="text" id="search">
                <input  type="button" id="submit_form" onclick="checkInput()" value="Search">
            </div>
        </form>
    </div>

    <div style="width: auto;" class="container-typefish">
        <div class="TypeFish">
            <h2 style="color: #fff
            ; text-align: center; margin:30px">ปลาเทวดา</h2>
            <img src="https://1.bp.blogspot.com/-Ax77LjZVXdA/UY4_1o7u-GI/AAAAAAAAANM/yTtw4IDptIA/s1600/%E0%B8%9B%E0%B8%A5%E0%B8%B2.jpg">
            <p>ปลาเทวดา  มีชื่อสามัญว่า  Angel  Fish   เป็นปลาสวยงามน้ำจืดที่ได้รับความนิยมมานานแล้วเช่นกัน มักนิยมเลี้ยงในตู้กระจกและมีการตกแต่งหินประดับขนาดใหญ่   หรือขอนไม้   
                เนื่องจากจะช่วยให้ปลาเทวดาแลดูเด่นมากขึ้น   โดยปลาจะชอบว่ายวนเวียนอยู่ใกล้ๆกับก้อนหินและขอนไม้   และมักจะว่ายน้ำช้าๆพร้อมกับกางครีบต่างๆอยู่ตลอดเวลา   ทำให้แลดูสง่างามมาก   เป็นปลาที่มีนิสัยรักสงบ   ไม่ไล่ทำร้ายกันหรือไล่รบกวนปลาชนิดอื่น   ปกติชอบอยู่รวมกันเป็นฝูง   ยกเว้นเมื่อจะแพร่พันธุ์วางไข่จะแยกตัวออกไปเป็นคู่   สามารถเลี้ยงรวมกับปลาชนิดอื่นๆในตู้เดียวกันได้ดี   
                จัดเป็นปลาสวยงามที่มีราคาดีชนิดหนึ่ง   และสามารถขายได้ตลอดปี</p><br><hr>
            <h3>ประวัติของปลาเทวดา</h3>
            <p>ปลาเทวดามีถิ่นกำเนิดอยู่ในทวีปอเมริกาใต้ แถบลุ่มน้ำอเมซอนและแม่น้ำโอริโนโก(Amazon  and  Orinoco  River)   ในประเทศเวเนซูเอลา   และบราซิล   มักชอบอาศัยอยู่ตามบริเวณที่น้ำไหลไม่แรงมากนัก   และมีพรรณไม้น้ำมาก   
                อาหารธรรมชาติของปลาชนิดนี้ ได้แก่  ตัวอ่อนแมลงน้ำ ลูกน้ำ ไรน้ำและแพลงตอนสัตว์  เป็นปลาที่ตอบสนองต่อการเปลี่ยนแปลงของสภาพดินฟ้าอากาศได้ดี   โดยเฉพาะถ้าอากาศเป็นพิษปลาจะตายได้ง่าย   ในสมัยก่อนจึงนำปลาเทวดาไปใช้เป็นตัวทดสอบก๊าซพิษในอุโมงค์เหมืองแร่   โดยจะหย่อนโถใส่ปลาเทวดาลงไปก่อน   แล้วดึงขึ้นมาถ้าปลาตายแสดงว่าในอุโมงค์มีก๊าซพิษ   แต่ถ้าปลาไม่ตายแสดงว่าปลอดภัยคนจะลงไปทำเหมืองได้ 
                ซึ่งในธรรมชาติพบปลาเทวดาอยู่  3  ชนิด  </p><br><hr>
            <h3>ลักษณะรูปร่างของปลาเทวดา</h3>
            <p> ปลาเทวดามีลำตัวแบบแบนข้าง   ความกว้างและความยาวของลำตัวมีความยาวเกือบเท่ากัน   ครีบหลังและครีบก้นแผ่ขยายออกและค่อนไปทางหาง   ครีบท้องมีลักษณะเป็นเส้นยาว   ตากลมโต   ปากขนาดเล็ก   ลำตัวมีสีเงินแกมเทาและมีลายดำพาดขวางลำตัว  4 - 5  แถบ
                เนื่องจากเป็นปลาที่ได้รับความนิยมเลี้ยงเป็นปลาสวยงาม ทำให้มีการเลี้ยงกันอย่างแพร่หลาย และจากการเพาะเลี้ยงและคัดพันธุ์   ทำให้เกิดสายพันธุ์ (Variety)  ใหม่ๆและมีการตั้งชื่อต่างๆอีกหลายชื่อ   เช่น ปลาเทวดาเงิน (Silver  Angelfish)   ปลาเทวดาดำ   (Black  Angelfish)   ปลาเทวดาลายม้าลาย  (Zebra  Angelfish)   ปลาเทวดาลายหินอ่อน (Marble  Angelfish) ปลาเทวดาสีเทา  (Gray  Angelfish)   ปลาเทวดาสีชอกโกเลต  (Chocolate  Angelfish)  ปลาเทวดาลายดำครึ่งตัว(Half Black  Angelfish)   ปลาเทวดาขาว (White  or  Ghost  Angelfish)   ปลาเทวดาทอง (Gold  Angelfish)   ปลาเทวดาลายจุด (Spotled  Angelfish) และ Koi  Angelfish 
                ถึงแม้ปลาเทวดาจะเป็นปลาจากต่างประเทศ แต่นักเพาะเลี้ยงปลาสวยงามในบ้านเราก็สามารถดำเนินการเพาะพันธุ์ได้  
                </p><br><hr>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReZ2MTp6A1bwK7iJgJDKLVstUl2EACKX7sjw&usqp=CAU">
            <h3>การจำแนกเพศปลาเทวดา</h3>
            <p>ปลาเทวดา การสังเกตุความแตกต่างเพศผู้และเพศเมียจากลักษณะภายนอกจะทำได้ยากมากเราจึงไปศึกษาข้อมูลจาก รศ.ประภาส โฉลกพันธ์รัตน์ และได้ทราบหลักการสังเกตุลักษณะเด่นที่พอจะบ่งบอกความแตกต่างลักษณะเพศของปลาเทวดามีดังนี้

                จุดสังเกตที่บริเวณหน้าผาก ปลาเทวดาเพศผู้จะมีส่วนหัวด้านบน (หน้าผาก) โหนกนูนและสีเข้มกว่าปลาเพศเมีย
                จุดสังเกตที่บริเวณติ่งเพศ ปลาเทวดาเพศเมียจะมีติ่งเพศเป็นท่อยื่นยาวออกมาค่อนข้างมาก และมีขนาดใหญ่กว่าติ่งเพศของเพศผู้   
                ซึ่งจะปรากฎให้เห็นได้ชัดเจนในช่วงผสมพันธุ์วางไข่เท่านั้น </p><br><hr>

            <h3>การเลี้ยงปลาเทวดาต้องเตรียมอะไรบ้าง</h3>
            <p>สำหรับคนที่สนใจและต้องการที่จะเลี้ยงปลาเทวดานั้นทำได้ไม่ยากผู้เลี้ยงสามารถจัดเตรียมอุปกรณ์ต่างๆ ได้อย่างง่ายๆ  ดังนี้

                <li>การเตรียมบ่อเพาะ บ่อที่จะใช้เพาะพันธุ์ปลาเทวดาอาจใช้ตู้กระจก หรืออ่างซีเมนต์ก็ได้ แต่ที่นิยมใช้กันมากที่สุดและเหมาะสมมากที่สุด คือ ตู้กระจกเพราะเมื่อปลาวางไข่จะทำให้สามารถดูได้ง่ายกว่าและรวมถึงสามารถดูพัฒนาการของปลาได้ชัดเจนกว่าสำหรับขนาดของตู้ที่ใช้ก็จะเริ่มตั้งแต่ขนาด 14 – 36 นิ้วขึ้นไป ซึ่งถ้าตู้เล็กจะปล่อยปลาตู้ละ 1 คู่ แต่ถ้าตู้ใหญ่จะใส่ปลาได้ 2 – 3 คู่ ภายในตู้ควรปล่อยพื้นตู้โล่งๆ  </li>
                
                <li>การเติมอากาศ ใส่น้ำที่ปราศจากคลอรีนและมีการเพิ่มปริมาณออกซิเจนโดยการใช้ปั๊มลม (air pump) และต้องมีระบบกรองน้ำเพื่อทำให้น้ำในตู้สะอาดตลอดเวลา</li>
                
                <li>คุณภาพน้ำ ในการเตรียมน้ำเราควรวัดค่าความเป็นกรด-ด่าง อยู่ที่ 4.8-5.5 และควรพักน้ำประปาไว้ประมาณ 2-3 วัน เพื่อที่คลอรีนจะได้ระเหยออกไป</li>
                
                <li>ที่วางไข่ของปลา  จัดเตรียมอุปกรณ์เพื่อให้ปลาใช้เป็นที่วางไข่ ได้แก่ ก้อนหรือแผ่นหิน ตอไม้ พรรณไม้น้ำชนิดต่าง ๆ ในน้ำที่มีใบแข็งแรง โดมกระเบื้อง หรือกระถางต้นไม้ ที่มีเนื้อเนียนและใช้กระจกหรือพลาสติกแผ่นเรียบวางเอียงกับพื้นตู้ประมาณ 30-60 องศา</li>
                
                <li>การควบคุมอุณหภูมิ ด้วยการใช้ฮีตเตอร์ (Heater) เป็นตัวกำหนดควบคุมอุณหภูมิของน้ำโดยอุณหภูมิที่เหมาะควรอยู่ที่ 28 – 32 องศาเซลเซียส จะช่วยให้ปลาวางไข่ได้เกือบตลอดปี</li>
                
                <li>ต้นไม้ที่ควรใส่ในตู้ปลา คือ
                    Japanese Dwarf Rush (Acorus graminese) เป็นชนิดต้นไม้ที่อยู่ได้ในน้ำอุ่นและน้ำเย็น เป็นต้นไม้ที่โตค่อนข้างช้า,
                    Madagascar Lace Plant (Aponogeton madagascariensis),
                    Fanwort (Cabomba aquatica),
                    Horwort (Ceratophyllum demersum) ต้นไม้ชนิดนี้ใบแข็งแรงทำให้ทนทานต่อการทึ้งของปลาต่างๆ</li>
                <li>การคัดพ่อแม่พันธุ์ปลา การเลือกพ่อแม่พันธุ์ปลานั้นก็เหมือนกับการเลือกพ่อแม่พันธุ์สัตว์ชนิดอื่น ๆ คือควรเลือกพ่อแม่ปลาที่มีขนาดใหญ่และสมบูรณ์ ลักษณะดี ไม่เป็นปลาที่พิการ และอายุประมาณ  8 – 10  เดือนขึ้นไป </li></p>
                <br><hr>
        </div>
    </div>

    <div class="footer">
        <div class="Last">
            <a href="#" div class="about">Back to top</div></a> 
        </div>
    </div>
    </div>
</body>
<script src="./index.js"></script>