<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>ปลาสอด</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">
    <!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<style>
    html {
        background-image: url(https://wallpaperaccess.com/full/4687504.jpg);
    }

    .Fish {
        text-align: center;
        font-size: 60px;
        margin-bottom: 30px;
    }

    .Search {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .container-typefish {
        background-color: rgba(0, 0, 0, 0.616);
        margin: 0px;
        padding: 10px;
        
    }

    .about {
        display: inline-flex;
        text-align: center;
        list-style: none;
        background-color: rgba(102, 90, 90, 0.5);
        color: #fff;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 15%;
    }

    .footer {
        grid-template-columns: 80% auto;
        text-align: right;
        text-decoration: none;
    }

    .Last div {
        width: 100%;
        text-align: center;

    }

    .btop {
        margin-left: 25px;
    }
    @media (max-width: 500px) {
    p{
        font-size: 16px;
    }
    li{
        font-size: 16px; 
    }
    }

    img{
        width: 30%;
        float: left;
        margin-right: 10px;
        border-radius: 20%;
    }
    p{
        margin-left: 10px;
        color: rgba(240, 248, 255, 0.842);
    }
    li{
        color: rgba(240, 248, 255, 0.842);
    }

</style>
<script>
    function checkInput() {
        var query = document.getElementById('search').value;
        window.find(query);
        return true;
    }
// create a function to update the date and time
function updateDateTime() {
        // create a new `Date` object
        const now = new Date();

        // get the current date and time as a string
        const currentDateTime = now.toLocaleString();

        // update the `textContent` property of the `span` element with the `id` of `datetime`
        document.querySelector('#datetime').textContent = currentDateTime;
      }

      // call the `updateDateTime` function every second
      setInterval(updateDateTime, 1000);

</script>

<body>
    <button type="button" onclick=""><a href="/fish">Menu</a></button>
    <span style="font-size: 20px;" id="datetime"></span>
    <div class="Fish">FishInfo</div>

    <div style="margin-left: 14%; margin-bottom: 10px; " class="search_box">
        <form action="" id="form2">
            <div>
                <input style="width: 70%;" type="text" id="search">
                <input type="button" id="submit_form" onclick="checkInput()" value="Search">
            </div>
        </form>
    </div>

    <div style="width: auto;" class="container-typefish">
        <div class="TypeFish">
            <h2 style="color: #fff; text-align: center; margin:30px">ปลาสอด</h2>
            <img src="https://cdn-cakfh.nitrocdn.com/uCvbbthIGuqozYBVHNiffOSAfPDdhkkl/assets/images/optimized/rev-aaacaf7/kaset.today/wp-content/uploads/2021/12/494.jpg">
            <p>ปลาสอด เป็นปลาสวยงามที่รู้จักกันดีจัดได้ว่าเป็นปลาสามัญประจำของทุกบ้านเลยก็ว่าได้ ด้วยประโยชน์ที่หลากหลาย สีสันสวยงาม ในราคาย่อมเยาว์ ที่ใครๆก็สามารถเลี้ยงได้ เป็นที่นิยมเลี้ยงอย่างแพร่หลาย เมื่อพูดถึงปลาสวยงาม ปลาสอดจัดได้ว่าเป็นปศุสัตว์ด้านปลาสวยงามอันดับต้นๆที่ใครๆก็ต้องนึกถึง 
            แต่ทว่า ความนิยมของปลาสอดนั้นไม่ได้หยุดอยู่แค่ในประเทศไทยเท่านั้น ปลาสอดยังเป็นปลาสวยงามยอดนิยมในต่างประเทศอีกด้วย</p><hr>
            
            <h3></h3>
            <p>ปลาสอด เรียกโดยรวมในภาษาอังกฤษว่า “มอลลี่” (Molly) ชื่อเรียกในภาษาไทยว่า “ปลาสอด” สันนิษฐานว่าอาจจะเพี้ยนมาจากคำว่า “Sword”(อ่านว่า สอด) ที่หมายถึง “ดาบ” ซึ่งน่าจะมาจากลักษณะหางที่ส่วนปลายหางมีความยาวเรียวคล้ายดาบ ปลาสอดมีถิ่นกำเนิดในต่างประเทศ เป็นปลานำเข้าที่ขยายพันธุ์ได้จากการเพาะเลี้ยงในประเทศ
            เนื่องจากปลาสวยงามนั้นสามารถเพาะเลี้ยงได้ง่าย ในการทำธุรกิจปลาสวยงามจึงไม่ยุ่งยาก ใช้เงินลงทุนไม่มาก ใช้พื้นที่เลี้ยงน้อย ให้ผลตอบแทนในระยะสั้น และสม่ำเสมอ สามารถเลี้ยงเป็นงานอดิเรกได้และเป็นที่ต้องการของตลาดธุรกิจปลาสวยงามทั่วโลก สถานการณ์ปลาสอดและปลาสวยงามในประเทศไทยจากจากการศึกษาของ มหาวิทยาลัยเชียงใหม่ พบว่า สถานการณ์ธุรกิจปลาสวยงามในประเทศไทย ถือว่าเป็นธุรกิจการเกษตรที่สำคัญของประเทศ มีแนวโน้มที่จะมีการขยายตัวและเติบโตอย่างต่อเนื่อง เพราะความต้องการทั้งในประเทศและต่างประเทศมีแนวโน้มสูงขึ้น
            ถึงอย่างนั้นความสามารถในการเพาะพันธุ์ในไทย ยังไม่เพียงพอต่อความต้องการของตลาดทั้งภายในและต่างประเทศ ในสภาวะตลาดปลาสวยงามปัจจุบัน การรักษาสายพันธุ์และการพัฒนาสายพันธุ์ใหม่ๆ เป็นสิ่งสำคัญที่จะสร้างความแตกต่าง ซึ่งเกษตรกรปลาสวยงามในไทยคำนึงถึงเรื่องนี้เป็นอย่างดี ปลาสวยงามที่ผลิตในไทยจึงเป็นที่ต้องการในตลาดต่างประเทศเป็นอย่างมาก แต่เนื่องด้วยกำลังการผลิตในไทยยังน้อยเมื่อเทียบกับปริมาณความต้องการ ทำให้ธุรกิจการเพาะพันธุ์ปลาสวยงามเป็นที่น่าจับตามองอีกธุรกิจหนึ่ง</p>
            <hr><br><br><br>
            
            <h3>วิธีเลี้ยงปลาสอดง่ายๆ สไตล์มือใหม่</h3>
                <li>สถานทีหรือภาชนะสำหรับเลี้ยงปลาต้องมีขนาดใหญ่พอเหมาะสมกับขนาดและจำนวนปลาที่จะเลี้ยง ปลาอาจจะตายได้เนื่องจากเป็นโรคและสภาพแวดล้อมที่แออัดเกินไป</li>
                <li>ตะแกรงใส่ลูกปลา ทั้งนี้ต้องดูขนาดของลูกปลาในขณะนั้นด้วย และควรใช้สีสว่าง เพื่อให้สะดวกในการสังเกตุลูกปลา</li>
                <li>อุปกรณ์ตกแต่ง กรวดหินและ พรรณไม้น้ำ เช่น สาหร่ายหางกระรอก  ดอกจอก แหน แพงพวยน้ำ เป็นต้น ไม้น้ำเป็นสิ่งที่ควรจะมีเมื่อเลี้ยงปลาสอด เนื่องจากปลาสอดเป็นปลากินลูก การเลี้ยงไม้น้ำจะใช้เป็นที่หลบภัยให้กับลูกปลาตัวเล็กและเพิ่มอัตราการรอดให้กับลูกปลาได้</li>
                <li>เกลือ สำหรับปรัสมดุลของน้ำ ช่วยในเรื่องยับยั้งแบคทีเรียและปรสิต และลดความเครียดของปลา</li>
                <li>น้ำจืด ไม่ควรใช้น้ำที่มีคลอรีน หากใช้น้ำดื่มสามารถปล่อยปลาได้เลยไม่ต้องพักน้ำ</li>
                <li>ท่อออกซิเจนสำหรับเลี้ยงปลา ไม่จำเป็นต้องมีก็ได้เนื่องจากปลาสอดสามารถอยู่รอดได้ในน้ำที่มีออกซิเจนน้อย</li>
            <hr><br>
            <img src="https://e.lnwfile.com/_/e/_raw/ev/sg/io.jpg">
            <h3>อาหารสำหรับปลาสอด</h3>
            <p>ในการอนุบาลลูกปลา เราควรให้อาหารเป็นไรแดงอบแห้ง หรือ ผสมอาหารปลาสวยงามคลุกเคล้ากับไข่แดงบดให้เข้ากัน วันละ 2 ครั้ง เมื่ออายุประมาณ 2 สัปดาห์ เปลี่ยนเป็นอาหารเม็ดที่มีขนาดพอดีกับปากปลา เนื่องจากการให้อาหารเม็ดจะช่วยแก้ปัญหาในเรื่องของน้ำเสียได้ดีกว่าอาหารผงและอาหารสำหรับปลาโตสามารถเลี้ยงด้วยอาการเม็ดสำหรับปลาสวยงามได้เลย แต่ถ้าอยากเร่งให้ปลาโตเร็วขึ้นสามารถที่จะให้อาหารด้วยสูตรเร่งโตได้ ตัวอย่างสูตรเร่งโตที่เป็นที่นิยม เช่น และการผสมไข่แดงกับอาหารเม็ด โดยใช้ไข่แดงต้ม 1 กับอาหารปลาสวยงาม 50 กรัม และยังมีอีกงานวิจัยคือ
            การผสมขมิ้นกับอาหารเม็ด ซึ่งได้ผลสรุปว่าหากใช้อาหารสำเร็จรูป 500 กรัม ผสมกับขมิ้นชัน 0.5 กรัม ปลาสอดมีการเจริญเติบโตและการรอดดีขึ้น โดยมีค่าน้ำหนักเฉลี่ยเท่ากับ 15.30 กรัม วัดการเจริญเติบโตทางด้านความยาวเฉลี่ย 8.03 เซนติเมตร อัตราการตายน้อยที่สุดมีค่าเฉลี่ย 1 ตัว โดยข้อมูลจากรายงานโครงงานวิทยาศาสตร์ เรื่อง ผลของการเสริมขมิ้นชันในอาหารต่อ การเจริญเติบโตและอัตราการรอดของปลาสอด (Xiphophorus hellerii) ปีพุทธศักราช 2562 วิทยาลัยเทคโนโลยีการเกษตรและประมงปัตตานี อาชีวศึกษาจังหวัดปัตตานี สำนักงานคณะกรรมการการอาชีวศึกษา กระทรวงศึกษาธิการ</p>
            <hr><br>
            <h3>การเตรียมน้ำ</h3>
            <p>ในการเตรียมน้ำไม่ควรใช้น้ำที่มีคลอรีน ควรใช้น้ำจืดอาจจะเป็นน้ำดื่ม น้ำจากบึง น้ำฝน เติมน้ำ 3 ใน 4 ส่วนของภาชนะ และใส่เกลือ 0.5 กรัม ต่อน้ำ1 ลิตร เพื่อปรับค่าความด่าง หากนำปลามาจากที่อื่นจะต้องระวังเนื่องจากปลาอาจจะยังไม่ชินกับอุณหภมิของน้ำ อาจจะเกิดอาการตื่นน้ำและพยายามกระโดดออก ควรผสมน้ำใหม่ลงในน้ำที่ปลาอยู่เพื่อให้ปลาเกิดการปรับตัว และเมื่อปล่อยปลาลงในที่ใหม่ในตอนแรกควรจะหาวัสดุมาปิดปากเพื่อป้องกันปลากระโดดออกจากการตื่นน้ำด้วย

                เรื่องสำคัญในการเลี้ยงปลาสอด จะต้องมีการเปลี่ยนถ่ายน้ำอย่างน้อยสัปดาห์ละ 1 ครั้ง การล้างเศษอาหารที่ตกค้างจะช่วยลดกลิ่นเน่าเหม็นที่เกิดขึ้นภายในบ่อ เป็นการช่วยป้องกันการเกิดโรคระบาดได้อย่างดี โดยการเปลี่ยนน้ำเก่าออกแล้วปล่อยน้ำใหม่เข้าไปแทนที่ โดยใช้วิธีผสมน้ำเก่ากับน้ำใหม่เพื่อสร้างความคุ้นชินให้กับปลาด้วย </p>
            <hr><br>

        </div>
    </div>


    


    <div class="footer">
        <div class="Last">
            <a href="#" div class="about">Back to top</div></a> 
        </div>
    </div>
    </div>
</body>
<script src="./index.js"></script>