<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>ปลาม้าลาย</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<style>
    html {
        background-image: url(https://wallpaperaccess.com/full/4687504.jpg);
    }

    .Fish {
        text-align: center;
        font-size: 60px;
        margin-bottom: 30px;
    }

    .Search {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .container-typefish {
        background-color: rgba(0, 0, 0, 0.616);
        margin: 0px;
        padding: 10px;

    }

    .about {
        display: inline-flex;
        text-align: center;
        list-style: none;
        background-color: rgba(102, 90, 90, 0.5);
        color: #fff;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 15%;
    }

    .footer {
        grid-template-columns: 80% auto;
        text-align: right;
        text-decoration: none;
    }

    .Last div {
        width: 100%;
        text-align: center;

    }

    .btop {
        margin-left: 25px;
    }

    @media (max-width: 500px) {
        p {
            font-size: 16px;
        }

        li {
            font-size: 16px;
        }
    }

    img {
        width: 30%;
        float: left;
        margin-right: 10px;
        border-radius: 20%;
    }

    p {
        margin-left: 10px;
        color: rgba(240, 248, 255, 0.842);
    }

    li {
        color: rgba(240, 248, 255, 0.842);
    }
</style>
<script>
    function checkInput() {
        var query = document.getElementById('search').value;
        window.find(query);
        return true;
    }

    function checkInput() {
        var query = document.getElementById('search').value;
        window.find(query);
        return true;
    }
// create a function to update the date and time
function updateDateTime() {
        // create a new `Date` object
        const now = new Date();

        // get the current date and time as a string
        const currentDateTime = now.toLocaleString();

        // update the `textContent` property of the `span` element with the `id` of `datetime`
        document.querySelector('#datetime').textContent = currentDateTime;
      }

      // call the `updateDateTime` function every second
      setInterval(updateDateTime, 1000);
</script>

<body>
    <button type="button" onclick=""><a href="/fish">Menu</a></button>
    <span style="font-size: 20px;" id="datetime"></span>
    <div class="Fish">FishInfo</div>

    <div style="margin-left: 14%; margin-bottom: 10px; " class="search_box">
        <form action="" id="form2">
            <div>
                <input style="width: 70%;" type="text" id="search">
                <input type="button" id="submit_form" onclick="checkInput()" value="Search">
            </div>
        </form>
    </div>

    
    <div style="width: auto;" class="container-typefish">
        <div class="TypeFish">
            <h2 style="color: #fff; text-align: center; margin:30px">ปลาม้าลาย</h2>
            <img src="https://cms.dmpcdn.com/news/2023/07/26/26e89c00-2b84-11ee-92db-a9655cc6118e_original.png">
            <p> ปลาม้าลาย จัดเป็นปลาสวยงามต่างประเทศที่ปัจจุบันเป็นที่นิยมเลี้ยงอย่างมากในตู้ปลา
                ทั้งเลี้ยงแบบเดี่ยว และเลี้ยงคู่กับปลากินพืชที่มีขนาดใหญ่กว่า เนื่องจาก เป็นปลาขนาดเล็ก
                ลำตัวมีลวดลายสวยงามคล้ายกับม้าลาย </p>
            <hr>
            <h3>ลักษณะปลาม้าลาย</h3>
            <p>ปลาม้าลาย เป็นปลาขนาดเล็ก มีลำตัวค่อนข้างกลม ขนาดลำตัวยาวประมาณ 5-6.25 เซนติเมตร กว้างประมาณ 1-1.5
                เซนติเมตร ผิวลำตัวปกคลุมด้วยเกล็ดขนาดเล็ก ด้านข้างลำตัวจะมีลายพาดตามความยาวของลำตัว จำนวนประมาณ 7–8 เส้น
                ลายพาดดังกล่าวพาดจากใต้เหงือกไปจรดปลายหาง
                โดยในปลาม้าลายเพศผู้นั้นจะมีสีพื้นของลายพาดเป็นแถบสีนํ้าเงินสลับกับสีทอง
                ส่วนเพศเมียมีจะมีสีพื้นลายพาดเป็นแถบนํ้าเงินสลับกับสีเงิน
                ลำตัวส่วนบนบริเวณบนสันหลังตลอดแนวจะมีแถบสีเขียวเริ่มตั้งแต่ปลายจมูกจนถึงโคนครีบหาง
                ส่วนครีบหลังจะมีสีเขียวแถบดำ ขอบสีเหลืองทอง ส่วนตาจะมีลักษณะกลมโปน อยู่เยื้องจากสันจมูกมาเล็กน้อย
                และบริเวณใต้ปากจะมีหนวดอยู่ 2 เส้น ทั้งนี้ ปลาม้าลายเพศผู้จะมีลำตัวเรียวยาวกว่าเพศเมีย
                แต่จะมีขนาดลำตัวเล็กกว่าเพศเมีย โดยลำตัวเพศเมียจะมีลักษณะอ้วนป้อมกว่า
                โดยเฉพาะเพศเมียที่ถึงวัยเจริญพันธุ์
                และเข้าสู่ระยะวางไข่จะสามารถสังเกตเห็นท้องอูมได้อย่างชัดเจน
            </p><br>
            <img src="https://vcdn-vnexpress.vnecdn.net/2022/02/15/VNE-Fish-7948-1644895217_r_460x0.jpg">
            <hr>
            <h3>ลักษณะอุปนิสัย และการกินอาหาร</h3>
            <p>ปลาม้าลาย เป็นปลาที่มีอุปนิสัยรักสงบ และชอบอยู่รวมกันเป็นกลุ่มฝูง ชอบนํ้าที่เป็นด่างอ่อนๆถึงปานกลาง
                เป็นปลาที่สามารถว่ายนํ้าได้อย่างรวดเร็ว เป็นปลาที่ชอบแสงสว่างตลอด ชอบออกหากินในระดับกลางนํ้าหรือผิวนํ้า
                กินอาหารง่าย มักกินทั้งพืช และสัตว์เป็นอาหาร แต่โดยทั่วไปจะชอบกินสิ่งมีชีวิตเป็นอาหาร เช่น ไรแดง
                โรติเฟอร์ หนอนแดง และตัวอ่อนของแมลง ส่วนพืชที่ชอบกิน ได้แก่ สาหร่าย และพืชนํ้าเล็กๆ</p><br>
            <hr>
            <h3>การเลี้ยงปลาม้าลาย</h3>
            <p>ปลาม้าลาย เป็นปลาที่มีอายุสั้น ประมาณ 3-4 เดือน เติบโต และชอบอาศัยในน้ำสะอาด ที่มีความเป็นกรดเป็นด่าง
                (pH) ประมาณ 6.5-7.2 และอุณหภูมิของน้ำที่เหมาะสมในช่วง 17.7–25.5 องศาเซลเซียส
                การเลี้ยงปลาม้าลายนั้น นิยมเลี้ยงในตู้กระจกเป็นหลัก เพราะจะสามารถมองชมลายสวยงามบนตัวปลาได้ง่าย
                โดยสามารถเลี้ยงในตู้ปลาได้ทุกขนาด ทั้งเลี้ยงแบบปลาม้าลายชนิดเดียว หรือ เลี้ยงคู่กับปลาที่มีขนาดใหญ่กว่า
                และไม่ใช่ปลากินเนื้อ</p>
            <br>
            <hr>

        </div>
    </div>
    <div class="footer">
        <div class="Last">
            <a href="#" div class="about">Back to top
        </div></a>
    </div>
    </div>
    </div>
</body>
<script src="./index.js"></script>